.blog-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px auto 10px;
  padding: 10px;
}

.blog-min-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.likes-section {
  display: flex;
  align-items: center;
  gap: 10px
}